@use '../00-settings/variables' as *;

html {
  box-sizing: border-box;
  font-family: $font-main;
  background-color: var(--surface-background);
  color: var(--text-primary);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: $font-main;
  background-color: var(--surface-background);
  color: var(--text-primary);
  font-size: var(--fs-body);
  line-height: 1.5;
}

input,
textarea,
select,
button {
  font: inherit;
  color: inherit;
}
